<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Download file</title>
    <link rel="stylesheet" href="{{ .AppRoot }}styles/base.css">
</head>
<body>
    <div class="wrapper">
        <p>1 file ({{ .ByteSize }} bytes)</p>

        <a href="{{ .AppRoot }}download/{{ .UserID }}/{{ .FileID }}" class="mt-4">
            <button>
                Download
            </button>
        </a>

        <div>
            <progress max="{{ .ByteSize }}" value="0"></progress>
            <p id="progress"></p>
        </div>

        <div class="error p-2 hidden">
            Dummy error!
        </div>
    </div>

    <script src="{{ .AppRoot }}js/sodium.js"></script>
    <script src="{{ .AppRoot }}js/downloadManager.js"></script>
    <script src="{{ .AppRoot }}js/downloadHandlers/memoryHandler.js"></script>
    <script src="{{ .AppRoot }}js/downloadHandlers/filesystemHandler.js"></script>
    <script src="{{ .AppRoot }}js/downloadHandlers/serviceWorkerHandler.js"></script>
    <script src="{{ .AppRoot }}js/download.js"></script>
</body>
</html>
