<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Download file</title>
    <link rel="stylesheet" href="../../styles/base.css">
</head>
<body>
    <div class="wrapper">
        <p>1 file ({{ .ByteSize }} bytes)</p>

        <form action="../../api/v1/download/{{ .UserID }}/{{ .FileID }}" method="get" target="_blank">
            <input type="hidden" name="user-id" value="{{ .UserID }}">
            <input type="hidden" name="file-id" value="{{ .FileID }}">

            <button class="mt-4">
                Download
            </button>
        </form>
    </div>

    <script src="../../js/sodium.js"></script>
    <script src="../../js/download.js"></script>
</body>
</html>