<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload</title>
    <link rel="stylesheet" href="styles/base.css">
</head>
<body>
    <div class="wrapper">
        <form action="api/upload" method="post" enctype="multipart/form-data">
            <div>
                <label for="files-selector">Select file</label>
                <input name="file" id="files-selector" type="file"/>
            </div>

            <div class="mt-4">
                <input type="hidden" name="user-id" value="{{ .UserID }}">
                <input type="submit" value="Upload">
            </div>

            <div class="p-2">
                <div class="loader"></div>
                <p id="progress"></p>
            </div>
        </form>
    </div>

    <script src="js/sodium.js"></script>
    <script src="js/uploadManager.js"></script>
    <script src="js/upload.js"></script>
</body>
</html>