<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload success</title>
    <link rel="stylesheet" href="../styles/base.css">
</head>
<body>
    <div class="wrapper">
        <p>Uploaded {{ .FileCount }} file(s) ({{ .BytesSize }} bytes)</p>

        <p id="dl">Download: download/{{ .UserID }}/{{ .TransferID }}</p>

        <noscript>
            <h3 class="mb-0">Add another file</h3>

            <form action="../api/v1/upload" method="post" enctype="multipart/form-data">
                <div class="w-200px">
                    <label for="files-selector">Select file</label>
                    <input name="file" id="files-selector" type="file"/>
                </div>

                <input type="hidden" name="transfer-id" value="{{ .TransferID }}">

                <div class="mt-4">
                    <input type="submit" value="Upload">
                </div>
            </form>
        </noscript>
    </div>

    <script>
        document.body.onload = () => {
            const base = window.location.href.split('/upload/')[0];
            document.querySelector("#dl").innerText = `Download: ${base}/download/{{ .UserID }}/{{ .TransferID }}`;
        }
    </script>
</body>
</html>