* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: system-ui;
    background: #0d0d0d;
}

div.wrapper {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    background: #fff;
    padding: 1rem;
}

input[type=text], input[type=email], input[type=date], input[type=file], textarea {
    display: block;
}

.mt-4 {
    margin-top: 1rem;
}

table {
    margin-bottom: 1rem;
}

th, td {
    padding: 8px;
}

.w-200px {
    width: 200px;
}

.justify-end {
    justify-content: right;
}

.mb-0 {
    margin-bottom: 0;
}

.p2 {
    padding: 0.5rem;
}

.loader {
    margin-top: 1rem;
    background: black;
    height: 1rem;
    width: 0;

    -webkit-transition: width 0.1s linear;
    -moz-transition: width 0.1s linear;
    -o-transition: width 0.1s linear;
    transition: width 0.1s linear;
}

p#progress {
    margin-top: 2px;
}

div.error {
    background: #e64747;
    width: 100%;
    min-height: 10px;
}

div.hidden {
    display: none;
}

div.p-2 {
    padding: 0.5rem;
}
